/* 공통 스타일 */
@import url("./common/theme.css");
@import url("./common/base.css");

/* 페이지별 스타일 */
@import url("./pages/discovery.css");

body {
  position: relative;
  width: 1920px;
  height: 1440px;
}

header {
  margin: 100px 0 48px 0;
}
.all-warp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.title {
  font-size: 24px;
  margin-bottom: 24px;
}
section img, section .btn  {
  transition: all 0.3s;
}
section a:focus img, section img:hover { 
  border: 1px solid var(--color-blue-600);
}   

section a:focus .btn, section a:hover .btn {
  width: 112px;
  background-color: var(--color-blue-600);
}

section a:focus .btn::before, section a:hover .btn::before {
  content: "구매하기";
  margin-right: 16px;
}

.btn {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
  color: var(--color-gray-100); 
  background-color: rgba(0, 0, 0, 0.2);
  border: 0px;
  font-size: 14px;
  text-align: center;
  line-height: 42px;
}

.first .btn {
  margin: 248px 0 0 20px;
}
.title > span {
  font-size: 16px;
  color: var(--color-gray-600);
}

.title > .gray {
  font-size: 20px;
}

section {
  width: 1020px;
  height: 1010px;
}


section img {
  border: 1px solid var(--color-gray-500)
}

.first {
  height: 310px;
}
.first > [class ^= img] {
  width: 502px;
  height: 310px;
  float: left;
}

.first .img-2 {
margin-left: 16px;
}

.first img {
  width: 502px;
  height: 310px;
  float: left;
}
.second {
  margin-top: 16px;
  height: 310px;
}
.second > [class ^= img] {
  width: 243px;
  height: 310px;
  float: left;
}
.second > [class ^= img]:not(:first-child) {
  margin-left: 16px;
}
.second img {
  width: 243px;
  height: 310px;
  float: left;
}
.second .btn {
  margin: 248px 0 0 20px;
}
.third {
  margin-top: 16px;
  height: 310px;
}
.third [class ^= img] {
  width: 243px;
  height: 310px;
  float: left;
}
.third [class ^= img]:not(:first-child) {
  margin-left: 16px;
}
.third .img-7 {
  width: 502px;
  height: 310px;
}

.third .img-7 img {
  width: 502px;
  height: 310px;
}
.third img {
  width: 243px;
  height: 310px;
  float: left;
}

.third .btn {
  margin: 248px 0 0 20px;
}