@charset "UTF-8";
@font-face {
  font-family: kr;
  src: url(fonts/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: krb;
  src: url(fonts/NotoSansKR-Bold.otf);
}

@font-face {
  font-family: open;
  src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: en;
  src: url(fonts/SecularOne-Regular.ttf);
}

@font-face {
  font-family: tang;
  src: url(fonts/Tangerine-Regular.ttf);
}



body {font-family: "kr", sans-serif}
.krb {font-family: "krb", sans-serif}
.en {font-family: "en"}
.open {font-family: "open"}
.tang {font-family: "tang"}

