@charset "UTF-8";

/*2022-02-17 초기화*/
html * {
  margin: 0;padding: 0;border: 0;
/*  font-size: 100%;font: inherit;*/
  vertical-align: baseline;
}
/*HTML5 새로운 요소(시맨틱-의미를 담고 있는)*/
header, nav, main, section, article, aside, footer, address, figure, figcaption {
  display: block
}

body {line-height: 1}
ol, ul, li {list-style: none}
table {border-collapse: collapse}
blockquote, q {quotes: none}
blockquote:before, blockquote:after, 
q:before, q:after {
  content: '';
  content: none
}
a {color: inherit;text-decoration: none}

/*HTML 요소 -내 스타일로 바꾸기
::before | ::after 가상요소
*/
.clear::after,
.clearfix::after {
  content: '';
  display: block;
  clear: both
}

/*텍스트 숨김*/
.blind {display: none;}
address {font: inherit;}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal;
}
i, em, address {font-style: normal;}
















